// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Hex Colors
$brand-primary:         #27ae60;
$white: 								#FFFFFF;
$green: 								#4BB1B7;
$black: 								#000000;
$grey: 									#D0D0D0;
$darkGrey: 							#2B2B2B;
$lightGrey: 						#3D3D3D;
$faint: 								#F2F2F2;

// RGB Colors
$redTrans: 						rgba(230, 0, 0, 0.9);
